/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--HeroImage: url('../Images/Hero-Image.png');
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/Logo.png');
	--LogoImagePrint: url('../Images/Logo.svg');
	--Primary: #1b504c;
	--Light: #ffffff;
	--Darkest: #6a9184;
	--Lightest: #FFFFFF;
	--Secondary: #b8d6cb;
	--Medium: #21674e;
	--Dark: #486262;
}

